.nav_item_style {
  color: #3fd335;
  font-size: 1.5rem;
  padding:0 0.5rem;
  border-radius: 2px;
  font-weight: 500;
  list-style: none;
  margin-left: 0.2rem;
}

.nav_item_style:hover {
  background-color: #3fd335;
  color: aliceblue;
}
.logo_style {
  color: aliceblue;
  font-size: 1.5rem;
  font-weight: 500;
  list-style: none;
}