#ImgFr{
   background: url('../../image/banner.png') no-repeat center center/cover;
   height: 100vh;

   }

    .card_pre{
      transform:  translateY(-10%) !important;
      }
      .row-pre{
         height:40vh;
         background-color: bisque;
         }